<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@color/white"
        android:supportsRtl="true"
        android:theme="@style/Theme.JewelryEcommerceApp"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.ShippedOrders"
            android:exported="false" />
        <activity
            android:name=".Activities.Payment"
            android:exported="false" />
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".Activities.ForgotPassActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.NoticeActivity"
            android:exported="false" />
        <activity android:name=".Activities.NoticeAdActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Activities.AdminHomeActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".Activities.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.StaffSpecificChatActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.StaffChatBoardActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.ProductDetailActivity"
            android:exported="true"
          />
        <activity
            android:name=".Activities.ImageActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/ThemeSpl" >



        </activity>
        <activity
            android:name=".Activities.VoucherActivity"
            android:exported="true" >

        </activity>
        <activity android:name=".Activities.SearchActivity"
            android:exported="true" >


        </activity>
        <activity android:name=".Activities.AdminProductDetailActivity"
            android:exported="true"    >
        <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>

        </activity>
    </application>

</manifest>